<a href="https://colab.research.google.com/github/minjyom/Minjeong-Kim/blob/main/Chapter_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
library(tidyverse)
library(tibble)
library(readr)
library(dplyr)
library(magrittr)
library(ggplot2)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()


Attaching package: ‘magrittr’


The following object is masked from ‘package:purrr’:

    set_names


The following object is masked from ‘package:tidyr’:

    extract

In [7]:
list.files()

 [1] "ELP_frequency.csv"
 [2] "ELP_full_length_frequency.csv"
 [3] "frequency_vowel_duration.csv"
 [4] "hassemer_winter_2016_gesture.csv"
 [5] "lynott_connell_2009_modality.csv"
 [6] "nettle_1999_climate.csv"
 [7] "perry_winter_2017_iconicity.csv"
 [8] "ruth_page_selfies.csv"
 [9] "sample_data"
[10] "sidhu&pexman_2017_iconicity.csv"
[11] "speech_errors.csv"
[12] "strik_lievers_winter_2018_POS.csv"
[13] "vinson_dale_2014_yelp.csv"
[14] "warriner_2013_emotional_valence.csv"
[15] "winter_2016_senses_valence.csv"
[16] "winter_matlock_2013_similarity.csv"
[17] "winter_matlock_unpublished_distance.csv"

# read.csv() function: 
it shows factor vectors rather than chr vector. why?

In [8]:
 nettle <- read.csv('nettle_1999_climate.csv') 
nettle <- as_tibble(nettle)
head(nettle)

  Country    Population Area MGS  Langs
1 Algeria    4.41       6.38 6.60  18
2 Angola     4.01       6.10 6.22  42
3 Australia  4.24       6.89 6.00 234
4 Bangladesh 5.07       5.16 7.40  37
5 Benin      3.69       5.05 7.14  52
6 Bolivia    3.88       6.04 6.92  38

# read_csv() function: 
to use readr package. read_csv() runs faster than read.csv()

In [9]:
nettle <- read_csv('nettle_1999_climate.csv') 
head(nettle)

Rows: 74 Columns: 5
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): Country
dbl (4): Population, Area, MGS, Langs

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Country    Population Area MGS  Langs
1 Algeria    4.41       6.38 6.60  18
2 Angola     4.01       6.10 6.22  42
3 Australia  4.24       6.89 6.00 234
4 Bangladesh 5.07       5.16 7.40  37
5 Benin      3.69       5.05 7.14  52
6 Bolivia    3.88       6.04 6.92  38

# Delim argument:
specifies the type of separator

In [13]:
x <- read_delim('example_file.txt', delim = '/t')
x

ERROR: ignored

# dplyr package

# filter() function 
to filters "rows". 
- first argument: tibble, second argument: logical statement

In [14]:
# reduces the nettlb tibble to only those rows with countries 
# that have more than 500 languages
filter(nettle, Langs > 500)

  Country          Population Area MGS   Langs
1 Indonesia        5.27       6.28 10.67 701
2 Papua New Guinea 3.58       5.67 10.88 862

In [15]:
# may be interested in the data for a specific row, such as Nepal:
filter(nettle, Country == 'Nepal')

  Country Population Area MGS  Langs
1 Nepal   4.29       5.15 6.39 102

# Select() function: 
to select "columns"

In [16]:
# to select Langs and Country columns
select (nettle, Langs, Country)

   Langs Country
1   18   Algeria
2   42   Angola
3  234   Australia
4   37   Bangladesh
5   52   Benin
6   38   Bolivia
7   27   Botswana
8  209   Brazil
9   75   Burkina Faso
10  94   CAR
11  18   Cambodia
12 275   Cameroon
13 126   Chad
14  79   Colombia
15  60   Congo
16  10   Costa Rica
17  75   Cote d'Ivoire
18   1   Cuba
19  22   Ecuador
20  11   Egypt
21 112   Ethiopia
22  11   French Guiana
23  40   Gabon
24  73   Ghana
25  52   Guatemala
26  29   Guinea
27  14   Guyana
28   9   Honduras
29 405   India
30 701   Indonesia
⋮  ⋮     ⋮
45   7   Nicaragua
46  21   Niger
47 427   Nigeria
48   8   Oman
49  13   Panama
50 862   Papua New Guinea
51  21   Paraguay
52  91   Peru
53 168   Philippines
54   8   Saudi Arabia
55  42   Senegal
56  23   Sierra Leone
57  66   Solomon Islands
58  14   Somalia
59  32   South Africa
60   7   Sri Lanka
61 134   Sudan
62  17   Suriname
63 131   Tanzania
64  82   Thailand
65  43   Togo
66   9   UAE
67  43   Uganda
68 111   Vanuatu
69  40   Venezuela
70  88   Vietnam
71   6   Yemen
72 219   Zaire
73  38   Zambia
74  18   Zimbabwe

In [17]:
# to remove a certain column
select (nettle, -Country)

   Population Area MGS   Langs
1  4.41       6.38  6.60  18
2  4.01       6.10  6.22  42
3  4.24       6.89  6.00 234
4  5.07       5.16  7.40  37
5  3.69       5.05  7.14  52
6  3.88       6.04  6.92  38
7  3.13       5.76  4.60  27
8  5.19       6.93  9.71 209
9  3.97       5.44  5.17  75
10 3.50       5.79  8.08  94
11 3.93       5.26  8.44  18
12 4.09       5.68  9.17 275
13 3.76       6.11  4.00 126
14 4.53       6.06 11.37  79
15 3.37       5.53  9.60  60
16 3.49       4.71  8.92  10
17 4.10       5.51  8.67  75
18 4.03       5.04  7.46   1
19 4.04       5.45  8.14  22
20 4.74       6.00  0.89  11
21 4.73       6.09  7.28 112
22 2.01       4.95 10.40  11
23 3.08       5.43  8.79  40
24 4.19       5.38  8.79  73
25 3.98       5.04  9.31  52
26 3.77       5.39  7.38  29
27 2.90       5.33 12.00  14
28 3.72       5.05  8.54   9
29 5.93       6.52  5.32 405
30 5.27       6.28 10.67 701
⋮  ⋮          ⋮    ⋮     ⋮
45 3.60       5.11  8.13   7
46 3.90       6.10  2.40  21
47 5.05       5.97  7.00 427
48 3.19       5.33  0.00   8
49 3.39       4.88  9.20  13
50 3.58       5.67 10.88 862
51 3.64       5.61 10.25  21
52 4.34       6.11  2.65  91
53 4.80       5.48 10.34 168
54 4.17       6.33  0.40   8
55 3.88       5.29  3.58  42
56 3.63       4.86  8.22  23
57 3.52       4.46 12.00  66
58 3.89       5.80  3.00  14
59 4.56       6.09  6.05  32
60 4.24       4.82  9.59   7
61 4.41       6.40  4.02 134
62 2.63       5.21 12.00  17
63 4.45       5.98  7.02 131
64 4.75       5.71  8.04  82
65 3.56       4.75  7.91  43
66 3.21       4.92  0.83   9
67 4.29       5.37 10.14  43
68 2.21       4.09 12.00 111
69 4.31       5.96  7.98  40
70 4.83       5.52  8.80  88
71 4.09       5.72  0.00   6
72 4.56       6.37  9.44 219
73 3.94       5.88  5.43  38
74 4.00       5.59  5.29  18

In [ ]:
# to select consecutive columns
select(nettle, Area:Langs)

# rename () function: 
to change the name of existing columns

In [ ]:
nettle <- rename(nettle, Pop = Population)
nettle

# mutate () function: 
to change the content of a tibble.

In [ ]:
# this command creates a new columns, 
# which is specified to be the "Langs" column divided by 100
nettle <- mutate(nettle, Lang100 = Langs / 100)
nettle

# arrange () function: 
to order tibble in ascending or descending order.

In [ ]:
# ascending (default)
arrange (nettle, Langs)

In [ ]:
# descending
arrange (nettle, desc(Langs))

# ggplot2 package

Nettle (1999) discusses that **linguistic diversity is correlated with climate 
factors**. The proposal is that countries with lower ecological risk have more
different languages than countries with higher ecological risk.

Nettle (1999) measured ecological risk by '*mean growing season*' (listed in the 
**MSG** column).

**Langs** = the number of languages
**MGS** = the mean growing season

# Point plot 

- The first argument of ggplot() function: tibble
- geom_point () function adds a point geom to the plot
- aes() specifies the 'aesthetic mapping'; which aspect of the data is mapped onto with aspect of the geom

In [ ]:
# This code below specifies "aes" inside a geom
ggplot(nettle) +    
  geom_point(mapping = aes (x = MGS, y = Langs))

In [ ]:
# Paraphrased 
# This code below specifies "aes" inside the main ggplot() function call. 
ggplot(nettle, aes (x = MGS, y = Langs))+
  geom_point()

# Text plot

In [ ]:
# It needs an additional aesthetic mapping
# which column is mapped to the actual text shown in the plot

ggplot(nettle, aes (x = MGS, y = Langs, label = Country))+
  geom_text()

ggsave('nettle.png')